{include file="public/header"}
<title>图片展示</title>
<link href="lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片展示 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick=picupdate('添加图片','{:url("picupdate",array('id'=>$data.id))}') class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6df;</i> 添加</a> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a> </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<input type="hidden" id="dataId" value="{$data.id}">
	<div class="portfolio-content">
		<ul class="cl portfolio-area">
			{for start="0" end="100"}
			{if condition="!empty($images[$i])"}
			<li class="item">
				<div class="portfoliobox">
					<input class="checkbox" name="image" type="checkbox" value="{$images[$i]}">
					<div class="picbox "><a href="" data-lightbox="gallery" data-title=""><img src="{$images[$i]}"></a></div>
					<div class="textbox"></div>
				</div>
			</li>
			{/if}
			{/for}
		</ul>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/lightbox2/2.8.1/js/lightbox.min.js"></script> 
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();
});

function picupdate(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*批量-删除*/
function datadel(){
	layer.confirm('确认要删除吗？',function(index){
		arr=[];
		var id=$("#dataId").val();
		// alert(id);
		// 便利出来所有的复选框
		$(":checkbox").each(function(){
			// 获取选中的id
		      if($(this).prop("checked")){
		      	//获取选中数据的路径
		        ids=$(this).val();
		        arr.push(ids);
		        // alert(arr);
		      }
		})
		// alert($("input[name='image']"));
		var url="{:url('picdelete')}";
		$.post(url,{arr:arr,id:id},function(data){
			// alert(data);
			// console.log(data);
			if(data==200){
				for(var i=0;i<arr.length;i++){
					$("input[value='"+arr[i]+"']").parents("li").remove();
				}
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg('删除失败!',{icon:1,time:1000});
			}
		})
	})
}
</script>
</body>
</html>