{include file="public/header"}
<title></title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$role.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{volist name="data" id="vo"}
				<dl class="permission-list">
					<dt>
					
						<label>
							{if condition="in_array($vo.id,$limit)"}
							<input type="checkbox" checked="checked" value="{$vo.id}"  name="user-Character-0" id="user-Character-0">{$vo.name}
							{else/}
							<input type="checkbox" value="{$vo.id}"  name="user-Character-0" id="user-Character-0">{$vo.name}
							{/if}
						</label>
						
					</dt>	
					<dd>
						<dl class="cl permission-list2">
							{volist name="vo['cate']" id="voo"}
							<dt>
								<label class="">
									{if condition="in_array($voo.id,$limit)"}
									<input type="checkbox" checked="checked" value="{$voo.id}" name="user-Character-0-0" id="user-Character-0-0">{$voo.name}
									{else/}
									<input type="checkbox" value="{$voo.id}" name="user-Character-0-0" id="user-Character-0-0">{$voo.name}
									{/if}
								</label>
							</dt>
							{/volist}
							<!-- <dd>
								<label class="">
									<input type="checkbox" value="" name="user-Character-0-0-0" id="user-Character-0-0-0">
									添加</label>
							</dd> -->
						</dl>
					</dd>
				</dl>
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<input type="hidden" name="id" id="s" value="{$role.id}">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">提交</a>
			</div>
		</div>
	</form>
</article>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">

$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
});
function datadel(){
	layer.confirm('确认要选择这些吗？',function(index){
	arr=[];
	// 便利出来所有的复选框
	$(":checkbox").each(function(){
		//获取选中数据的id
		if($(this).prop("checked")){
			id=$(this).val();
			arr.push(id);
		}
	})
	var url="{:url('update')}";
	var sid = $("#s").val();
	$.post(url,{arr:arr,sid:sid},function(data){
		layer.msg(data,{icon:1,time:1500},function(){
		    parent.window.location.href="{:url('index')}";
		    var index=parent.layer.getFrameIndex(window.name);
		    parent.layer.close(index);
		});
	})
  })
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>