{include file="public/header"}
<title>客户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 客户中心 <span class="c-gray en">&gt;</span> 客户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>

		 <a href="javascript:;" onclick="member_add('添加客户','{:url('add')}','1100','800')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加客户</a></span>
		 
	</div>

	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="25">ID</th>
				<th width="80">客户名</th>
				<th width="120">客户需求简述</th>
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="100">邮箱</th>
				<th width="100">地址</th>
				<th width="30">接触记录</th>
				<th width="100">加入时间</th>
				<th width="60">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach name="data" item="row"}
			{foreach name="row['customer']" item="voo"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$voo.id}" name=""></td>
				<td>{$voo.id}</td>
				<td>{$voo.name}</td>
				<td>{$voo.descr|raw|mb_substr=0,20}... ...<u style="cursor:pointer" class="text-primary" onclick=member_show('客户-内容详情','{:url('detail',array('id'=>$voo.id))}','{$voo.id}','800','800')>点我查看</u></td>
				<td>{$arr[$voo.sex]}</td>
				<td>{$voo.phone}</td>
				<td>{$voo.email}</td>
				<td>{$voo.address}</td>
				<td>{$voo.contact}</td>
				<td>{$voo.time|date = "Y-m-d H:i:s"}</td>
				<td class="td-manage">
					
					<a title="编辑" href="javascript:;" onclick=member_edit('编辑','{:url("edit",["id"=>$voo.id])}','4','1100','800') class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					
					<a title="删除" href="javascript:;" onclick="member_del(this,'{$voo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/foreach}
			{/foreach}
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,7,8]}// 制定列不参与排序
		]
	});
	
});
/*客户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*客户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*客户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*客户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*客户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*客户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		var url = '{:url("delete")}';
		$.post(url,{id:id},function(data){
			if(data == 200){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}
		})	
	});
}
/*批量-删除*/
function datadel(){
  layer.confirm('确认要删除吗？',function(index){
    arr=[];
    // 便利出来所有的复选框
    $(":checkbox").each(function(){
      //获取选中数据的id
      if($(this).prop("checked")){
        id=$(this).val();
        arr.push(id);
      }
    })
    var url="{:url('alldel')}";
    $.post(url,{arr:arr},function(data){
      // alert(data);
     if(data=="200"){
        for(var i=0;i<arr.length;i++){
	        //根据id获取input tr 
	        $("input[value='"+arr[i]+"']").parents("tr").remove();
      	}
      layer.msg('已删除!',{icon:1,time:1000});
     }
    })
  });
}
</script> 
</body>
</html>