{include file="public/header"}
<title>添加日志</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>部门：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<p>~~~~~~~~~{$Think.session.rolename}~~~~~~~~~~~~~~~~~~~~</p>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<p>~~~~~~~~~{$Think.session.username}~~~~~~~~~~~~~~~~~~~~</p>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2">内容：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="content" style="width:1000px;height:200px;" class="textarea"  placeholder="说点什么..." dragonfly="true"></textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"></label>
		<div class="formControls col-xs-8 col-sm-9"><span id="mytime"></span></div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			title:{
				required:true,
				minlength:4,
				maxlength:16
			},
			content:{
				required:true,
				minlength:20,
			},
			name:{
				required:true,
				maxlength:10
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $(form).ajaxSubmit({
                type: 'post',
                url: "{:url('add')}" ,
                success: function(data){
		                // alert(data);
	                layer.msg(data,{icon:1,time:1500},function(){
	                    parent.window.location.href="{:url('index')}";
	                    var index=parent.layer.getFrameIndex(window.name);
	                    parent.layer.close(index);
	                });	
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('很遗憾!添加失败',{icon:1,time:1000});
                }
            });
        }
	});
});
function showTime(){
    nowtime=new Date();
    year=nowtime.getFullYear();
    month=nowtime.getMonth()+1;
    date=nowtime.getDate();
    document.getElementById("mytime").innerText=year+"年"+month+"月"+date+" "+nowtime.toLocaleTimeString();
}

setInterval("showTime()",1000);
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>