{include file="public/header"}
<title>日志管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 日志中心 <span class="c-gray en">&gt;</span> 日志管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	<span class="l">
	
	</span>
	</div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">用户</th>
				<th width="90">部门</th>
				<th width="150">内容</th>
				<th width="90">时间</th>
			</tr>
		</thead>
		<tbody>
			{foreach name="dutys" item="ro"}
			{if condition="(!empty($ro['user']))"}
			{foreach name="$ro['user']" item="roo"}
			{if condition="(!empty($roo['log']))"}
			{foreach name="roo['log']" item="ros"}
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>{$ros.id}</td>
				<td>{$roo.username}</td>
				<td>{$ros.title}</td>
				<td>{$ros.content|mb_substr=0,15}... ...<u style="cursor:pointer" class="text-primary"onclick=member_show('日志详情','{:url('detail',array('id'=>$ros.id))}','{$ros.id}','650','300')>查看全部</u></td>
				<td>{$ros.time|date="Y-m-d H:i:s"}</td>
				
			</tr>
			{/foreach}
			{else/}{/if}
			{/foreach}
			{else/}{/if}
			{/foreach}

			{foreach name="data" item="vo"}
			{if condition="(!empty($vo['log']))"}
			{foreach name="vo['log']" item="voo"}
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>{$voo['id']}</td>
				<td>{$vo['username']}</td>
				<td>{$voo['title']}</td>
				<td>{$voo['content']|mb_substr=0,13}... ...<u style="cursor:pointer" class="text-primary"onclick=member_show('日志详情','{:url('detail',array('id'=>$voo.id))}','{$voo.id}','650','300')>查看全部</u></td>
				<td>{$voo['time']|date="Y-m-d H:i:s"}</td>
				
			</tr>
			{/foreach}
			{else/}{/if}
			{/foreach}
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="/static/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/static/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 0, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,5]}// 制定列不参与排序
		]
	});
	
});
/*日志-添加*/
function member_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*日志-添加*/
function member_correct(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*日志-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*日志-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*日志-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*日志-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*日志-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>