{include file="public/header"}
<link href="__ADMIN__/admin/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<title>邮件列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 邮件中心 <span class="c-gray en">&gt;</span> 邮件管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick=member_add('添加文章','{:url('add')}','1100','800') class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加文章</a>
		</span>
		<span class="r">共有数据：<strong>{$tot}</strong> 条</span>
	</div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="40">所属分类</th>
				<th width="40">文章标题</th>
				<th width="40">文章来源</th>
				<th width="90">文章描述</th>
				<th width="100">缩略图</th>
				<th width="180">时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="data" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$vo.id}" name=""></td>
				<td>{$vo.id}</td>
				<td>{$vo.webcate.industry}</td>
				<td>{$vo.title}</td>
				<td>{$vo.autor}</td>
				<td>{$vo.descr}</td>
				<td>
					<a href="{$vo.image}" data-lightbox="gallery" data-title="{$vo.title}">
						<img src="{$vo.image}" height="50px">
					</a>
				</td>
				<td>{$vo.time|date="Y-m-d H:i:s"}</td>
				<td class="td-manage">
				
				<a title="编辑" href="javascript:;" onclick=member_edit('查看详情','{:url('edit',['id'=>$vo.id])}','800','900') class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>

				<a title="删除" href="javascript:;" onclick="member_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>

				</td>
			</tr>
			{/volist}
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<!-- 图片 -->
<script type="text/javascript" src="__ADMIN__/admin/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript" src="__ADMIN__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<!-- 图片 -->
<script type="text/javascript" src="__ADMIN__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
		]
	});
	
});
/*邮件-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*邮件-历史*/
function member_send(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*邮件-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*邮件-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*邮件-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		var url = "{:url('delete')}";
		// alert(id);
		$.post(url,{id:id},function(data){
			if(data == "success"){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}
			// alert(data);
		});
	});
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要启标为已读？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		var url="{:url('start')}";
			$.post(url,{id:id},function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="已读" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已读</span>');
				$(obj).remove();
				layer.msg('已标记!',{icon: 5,time:1000});
		});
	});
}
			

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启标为未读？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		var url="{:url('stop')}";
		$.post(url,{id:id},function(data){
			$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="未读" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">未读</span>');
			$(obj).remove();
			layer.msg('已标记!', {icon: 6,time:1000});
		});
	});
}

/*批量-删除*/
function datadel(){
  layer.confirm('确认要删除吗？',function(index){
    arr=[];
    // 便利出来所有的复选框
    $(":checkbox").each(function(){
      //获取选中数据的id
      if($(this).prop("checked")){
        id=$(this).val();
        arr.push(id);
      }
    })
    var url="{:url('allredel')}";
    $.post(url,{arr:arr},function(data){
      // alert(data);
     if(data=="success"){
        for(var i=0;i<arr.length;i++){
	        //根据id获取input tr 
	        $("input[value='"+arr[i]+"']").parents("tr").remove();
      	}
      layer.msg('已删除!',{icon:1,time:1000});
     }
    })
  });
}
</script> 
</body>
</html>